body {
    background-color:whitesmoke;
}

/* ------------- Areas -------------- */

.workingArea {
    width: 980px;
    margin: auto;
    
}

.registerArea {
    width: 500px;
    margin: auto;
   
}

.clearSection {
    clear:both;
}

.badgeCreateAccount {
    padding:20px
}

.fieldControlWrapper {
    clear:right;
    padding-bottom:5px;
}

#login {
width:400px;

}

/*#loginButton {
    width:100px;
    background-color:aqua;
}*/

.forgotPasswordSection {
width:600px;
 margin: auto;
}
